{% extends 'base.html' %}
{% load staticfiles %}

{% block block_body %}
    <!-- Header Start -->
    <header id="header">
        <div id="logo">
            <h2>{{ pageowner }}</h2>
            <h4>{{ role }}</h4>
        </div>
    </header>
    <!-- Header End -->

    <!-- Main Tab Container Start -->
    <div id="tab-container" class="tab-container">
        <!-- Tab List -->
        <ul class="etabs">
            <li class="tab" id="tab-about">
                <a href="#about"><i class="icon-user"></i><span> About Me</span></a>
            </li>
            <li class='tab'>
                <a href="#resume"><i class="icon-file-text"></i><span> Resume</span></a>
            </li>
            <li class='tab'>
                <a href="#portfolio"><i class="icon-heart"></i><span> Portfolio</span></a>
            </li>
            <li class='tab'>
                <a href="#contact"><i class="icon-envelope"></i><span> Contact</span></a>
            </li>
        </ul>
        <!-- End Tab List -->

        <div id="tab-data-wrap">
            <div id="about"><!-- Tab About Start wrap -->
                <section class="clearfix">
                    <div class="g2">
                        <div class="photo">
                            <img src="{% static "myprofile/images/temp.jpg" %}" alt="Jesmigel A. Cantos">
                        </div>
                        <div class="info">
                            <h2>{{ pageowner }}</h2>
                            <h4>{{ role }}</h4>
                            <p>My name is Jesmigel A. Cantos, a technology enthusiast. Jack of all trades master of none coder-developer</p>
                        </div>
                    </div>
                    <div class="g1">
                        <div class="main-links sidebar"><!--sidebar-->
                            <ul>
                                <li>
                                    <a href="#resume">View My Resume</a>
                                </li>
                                <li>
                                    <a href="#portfolio">My Portfolio</a>
                                </li>
                                <li>
                                    <a href="#contact">Hire me for your next project</a>
                                </li>
                                <li>
                                    <a href="#features">Features</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="break"></div>
                    <div class="contact-info">
                        <div class="g1">
                            <div class="item-box clearfix">
                                <i class="icon-envelope"></i>
                                <div class="item-data">
                                    <h3><a href="mailto:jesmigelcantos@yahoo.com">jesmigelcantos@yahoo.com</a></h3>
                                    <p>Email Address</p>
                                </div>
                            </div>
                        </div>
                        <div class="g1">
                            <div class="item-box clearfix">
                                <i class="icon-linkedin"></i>
                                <div class="item-data">
                                    <h3><a href="https://au.linkedin.com/in/jesmigel" target="_blank">jesmigel.cantos</a></h3>
                                    <p>LinkedIn Profile</p>
                                </div>
                            </div>
                        </div>
                        <div class="g1">
                            <div class="item-box clearfix">
                                <i class="icon-github"></i>
                                <div class="item-data">
                                    <h3>https://github.com/hawkeyes64</h3>
                                    <p>Hawkeyes (From OnePiece Anime)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div><!-- Tab About End -->
            <div id="resume"><!-- Tab Resume Start-->
                <section class="clearfix">
                    <div class="g2">
                        <h3>Professional Experience</h3>
                        <!--To Do: Store resume to database, dynamically populate corresponding fields-->
                        <li>
                            <h5>Security Analyst</h5><span class="label label-info">2015-Present</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante.
                            </p>
                        </li>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- Main Tab Container End -->
{% endblock %}