{% extends 'base.html' %}
{% load staticfiles %}

{% block block_body %}
    <!-- Header Start -->
    <header id="header">
        <div id="logo">
            <h2>{{ pageowner }}</h2>
            <h4>{{ role }}</h4>
        </div>
    </header>
    <!-- Header End -->

    <!-- Main Tab Container Start -->
    <div id="tab-container" class="tab-container">
        <!-- Tab List -->
        <ul class="etabs">
            <li class="tab" id="tab-about">
                <a href="#about"><i class="icon-user"></i><span> About Me</span></a>
            </li>
            <li class='tab'>
                <a href="#resume"><i class="icon-file-text"></i><span> Resume</span></a>
            </li>
            <li class='tab'>
                <a href="#portfolio"><i class="icon-globe"></i><span> Web-Apps</span></a>
            </li>
            <li class='tab'>
                <a href="#contact"><i class="icon-envelope"></i><span> Contact</span></a>
            </li>
        </ul>
        <!-- End Tab List -->

        <div id="tab-data-wrap">
            <div id="about"><!-- Tab About Start wrap -->
                <section class="clearfix">
                    <div class="g2">
                        <div class="photo">
                            <img src="{% static "myprofile/images/temp.jpg" %}" alt="Jesmigel A. Cantos">
                        </div>
                        <div class="info">
                            <h3>{{ pageowner }}</h3>
                            <h4>{{ role }}</h4>
                            <p>Technology enthusiast, jack of all trades master of none, coder-developer, and the usual last resort problem solver</p>
                        </div>
                    </div>
                    <div class="g1">
                        <div class="main-links sidebar"><!--sidebar-->
                            <ul>
                                <li>
                                    <a href="#resume">View My Resume</a>
                                </li>
                                <li>
                                    <a href="#portfolio">My Portfolio</a>
                                </li>
                                <li>
                                    <a href="#contact">Hire me for your next project</a>
                                </li>
                                <li>
                                    <a href="#features">Features</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="break"></div>
                    <div class="contact-info">
                        <div class="g1">
                            <div class="item-box clearfix">
                                <i class="icon-envelope"></i>
                                <div class="item-data">
                                    <h3><a href="mailto:jesmigelcantos@yahoo.com">jesmigelcantos@yahoo.com</a></h3>
                                    <p>Email Address</p>
                                </div>
                            </div>
                        </div>
                        <div class="g1">
                            <div class="item-box clearfix">
                                <i class="icon-linkedin"></i>
                                <div class="item-data">
                                    <h3><a href="https://au.linkedin.com/in/jesmigel" target="_blank">jesmigel.cantos</a></h3>
                                    <p>LinkedIn Profile</p>
                                </div>
                            </div>
                        </div>
                        <div class="g1">
                            <div class="item-box clearfix">
                                <i class="icon-github"></i>
                                <div class="item-data">
                                    <h3><a href="https://github.com/hawkeyes64" target="_blank">Git repository</a></h3>
                                    <p>GitHub Profile</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div><!-- Tab About End -->
            <div id="resume"><!-- Tab Resume Start-->
                <section class="clearfix">
                    <div class="g2">
                        <h3>Professional Experience</h3>
                        <!--To Do: Store resume to database, dynamically populate corresponding fields-->
                        <ul class="no-list work"><!-- Section Experience Professional Start-->
                            <li>
                                <h5>Security Analyst</h5><span class="label label-info">2015-Present</span>
                                <>
                                    Performed security healthchecking on the following platforms/subsystems:
                                    <br/> - iSeries, OpenSSH, and HP NSK Tandem itanium. <br/>
                                    Increased efficiency by 90% (30+hrs of effort reduced to 3) on SHC process by
                                    means of automation using shell, perl, and vbScript<br/>
                                    Took responsibility and acted as consultant for a project between IBM, a client and its vendor.
                                </p>
                            </li>
                            <li>
                                <h5>Security Administrator</h5><span class="label label-info">2013-2015</span>
                                <p>
                                    Maintained local scripts to uphold a certain degree of automation for existing processes <br/>
                                    Modified existing scripts to automate specific/special bulk request tasks to prevent constraining a resource to the said activity<br/>
                                    Technically capable of responding to audits, interpreting policies to technical specifications, writing documentations, and performing trknaining and knowledge transfers.
                                </p>
                            </li>
                        </ul>
                        <h3>Casual Experience</h3>
                        <ul class="no-list work">
                            <li>
                                <h5>System Administrator</h5><span class="label label-info">2015-Ongoing</span>
                                <p>
                                    Setup of personal server: Gentoo (Linux OS)<br/>
                                    Services Hosted: SSH, Telnet, Ftp <br/>
                                    Purpose: prove that details written in resume are accurate to an extent.
                                </p>
                            </li>
                        </ul>
                    </div><!-- Section Experience End-->
                    <div class="g1"><!-- Section Skills Start-->
                        <div class="sidebar">
                            <h3>Skills</h3>
                            <h5>Software</h5><!--Skills Software Start -->
                            <div class="meter carrot">
                                <span style="width: 72%"><span>Linux</span></span>
                            </div>
                            <div class="meter asbestos">
                                <span style="width: 85%"><span>PERL</span></span>
                            </div>
                            <div class="meter sunflower">
                                <span style="width: 55%"><span>Python</span></span>
                            </div>
                            <div class="meter emerald">
                                <span style="width: 50%"><span>Django</span></span>
                            </div>
                            <div class="meter midnight">
                                <span style="width: 80%"><span>OpenSSH/SSL Telnet Ftp</span></span>
                            </div>
                            <div class="meter pomengrate">
                                <span style="width: 65%"><span>C, C++, Shell scripting (bash)</span></span>
                            </div>
                            <div class="meter asbestos">
                                <span style="width: 73%"><span>VBScript</span></span>
                            </div><!--Skills Software End -->
                            <h5>Hardware</h5>
                            <div class="meter midnight">
                                <span style="width: 60%"><span>Arduino</span></span>
                            </div>
                            <div class="meter pomengrate">
                                <span style="width: 50%"><span>Raspberry Pi</span></span>
                            </div>
                            <div class="meter emerald">
                                <span style="width: 70%"><span>General Electronics</span></span>
                            </div>
                        </div>
                    </div>
                </section>
            </div><!--Tab Resume End-->
            <div id="portfolio"><!--Tab Portfolio Start-->
                <section class="clearfix">
                    <div class="g1">
                        <div class="image">
                            <img src="{% static "myprofile/images/placeholder.png" %}" alt="Application Preview">
                            <div class="image-overlay">
                                One does not simply relearn a framework and build a web-app in one weekend
                            </div>
                        </div>
                    </div>
                    <div class="g1">
                        <div class="image">
                            <img src="{% static "myprofile/images/placeholder.png" %}" alt="Application Preview">
                            <div class="image-overlay">
                                One does not simply relearn a framework and build a web-app in one weekend
                            </div>
                        </div>
                    </div>
                    <div class="g1">
                        <div class="image">
                            <img src="{% static "myprofile/images/placeholder.png" %}" alt="Application Preview">
                            <div class="image-overlay">
                                One does not simply relearn a framework and build a web-app in one weekend
                            </div>
                        </div>
                    </div>
                </section>
            </div><!--Tab Portfolio End-->
            <div id="contact">
                <section class="clearfix">
                   <div class="g1">
                     <div class="sny-icon-box">
                       <div class="sny-icon">
                          <i class="icon-globe"></i>
                        </div>
                        <div class="sny-icon-content">
                          <h4>My Address</h4>
                          <p>Public IP, Local IP, or MAC?</p>
                        </div>
                     </div>
                   </div>
                   <div class="g1">
                     <div class="sny-icon-box">
                       <div class="sny-icon">
                          <i class="icon-phone"></i>
                        </div>
                        <div class="sny-icon-content">
                          <h4>Mobile Number</h4>
                          <p>12-3456-7890<br/>0123456789</p>
                        </div>
                     </div>
                   </div>
                   <div class="g1">
                     <div class="sny-icon-box">
                       <div class="sny-icon">
                          <i class="icon-user"></i>
                        </div>
                        <div class="sny-icon-content">
                          <h4>About Me</h4>
                          <p>Zero hesitation of opening black boxes... Someone needs to learn how stuff actually works</p>
                        </div>
                     </div>
                   </div>
                   <div class="break"></div>
                </section>
            </div>
        </div>
    </div>
    <!-- Main Tab Container End -->
{% endblock %}